.content-abstract{
    border: 1px solid #c2c2c0;
    padding: 20px 15px ;
    margin-top: 30px;
    width: 1200px;
    height: 450px;
    margin-left: 150px;
    margin-right: 100px;
}.content-abstract .sessions p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin:0px;
}
