/* Üst header */
.header {
  display: flex;
  align-items: center;
  background-color: #03043a;;
  padding: 10px 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 16px;
  color: #f0f0f0;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 240px;
  height: 100%;
  background-color:white;;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: left 0.3s ease;
  z-index: 3;
}

.sidebar.open {
  left: 0;
}

/* Menü linkleri */
.sidebar-link {
  text-decoration: none;
  padding: 12px 20px;
  color: #333;
  font-weight: 500;
  border-radius: 4px;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background-color: #f0f0f0;
}

/* Arka plan karartma */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
